body{
	text-align: center;
}

.circle {
    width: 180px;
    height: 180px;
    background-color:#ff6f91;
    border-radius: 100%;
    margin: 7%;
    float: left;
    
}
#cr1{
	margin-left: 15%;
}

#cr2{
	background-color: #d77878;	
}

#cr3{
	background-color: #de9c9c;
}

