body{
	text-align: center;
	background-color: #a4bcdd;
}

.circle {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin: 7%;
    display: inline-block;
}
#cr1{
	margin-left: 15%;
	background-color: red;
}

#cr2{
	background-color: yellow;	
}

#cr3{
	background-color: green;
}

