.circle {
    width: 180px;
    height: 180px;
    background-color:#ff6f91;
    border-radius: 100%;
    float: left;
    
}
#cr1{
	background-color: #d77878;
	
}
#cr2{
	background-color: #de9c9c;
	

}